
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStationLabel" data-translate="passengercounter2App.station.home.createOrEditLabel">Create or edit a Station</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.station.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.station.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="passengercounter2App.station.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.station.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="passengercounter2App.station.index" for="field_index">Index</label>
            <input type="number" class="form-control" name="index" id="field_index"
                    ng-model="vm.station.index"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="passengercounter2App.station.lat" for="field_lat">Lat</label>
            <input type="text" class="form-control" name="lat" id="field_lat"
                    ng-model="vm.station.lat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="passengercounter2App.station.lng" for="field_lng">Lng</label>
            <input type="text" class="form-control" name="lng" id="field_lng"
                    ng-model="vm.station.lng"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="passengercounter2App.station.stationId" for="field_stationId">Station Id</label>
            <input type="number" class="form-control" name="stationId" id="field_stationId"
                    ng-model="vm.station.stationId"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
