<div>
    <h2 data-translate="passengercounter2App.stationRouteConnection.home.title">Station Route Connections</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="station-route-connection.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="passengercounter2App.stationRouteConnection.home.createLabel">
                        Create new Station Route Connection
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
    	<div class="col-xs-10">
            <label data-translate="passengercounter2App.stationRouteConnection.route" for="field_route">Route</label>
            <select class="form-control" id="field_route" name="route" ng-model="vm.route" ng-options="route as (route.routeCode+' '+route.name) for route in vm.routes track by route.id">
                <option value=""></option>
            </select>
        </div>
        <div class="col-xs-2">
             <label>&nbsp;</label>
        
                <button class="btn btn-primary form-control" ng-click="vm.findByRoute()">
                    <span>
                        Ara
                    </span>
                </button>
            </div>
    </div>
    <br></br>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="route.id"><span data-translate="passengercounter2App.stationRouteConnection.route">Route</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="route.id"><span data-translate="passengercounter2App.stationRouteConnection.routeCode">Route</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="station.id"><span data-translate="passengercounter2App.stationRouteConnection.station">Station</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="index"><span data-translate="passengercounter2App.stationRouteConnection.index">Index</span> <span class="glyphicon glyphicon-sort"></span></th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stationRouteConnection in vm.stationRouteConnections track by stationRouteConnection.id">
                    <td><a ui-sref="station-route-connection-detail({id:stationRouteConnection.id})">{{stationRouteConnection.id}}</a></td>
                                        <td>
                        <a ui-sref="route-detail({id:stationRouteConnection.route.id})">{{stationRouteConnection.route.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="route-detail({id:stationRouteConnection.route.id})">{{stationRouteConnection.route.routeCode}}</a>
                    </td>
                    <td>
                        <a ui-sref="station-detail({id:stationRouteConnection.station.id})">{{stationRouteConnection.station.name}}</a>
                    </td>
                    <td>{{stationRouteConnection.index}}</td>
                    
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="station-route-connection-detail({id:stationRouteConnection.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="station-route-connection.edit({id:stationRouteConnection.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="station-route-connection.delete({id:stationRouteConnection.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
