<div>
    <h2 data-translate="passengercounter2App.scheduledVoyage.home.title">Scheduled Voyages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="scheduled-voyage.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="passengercounter2App.scheduledVoyage.home.createLabel">
                        Create new Scheduled Voyage
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    
    <div class="row">
    	<div class="col-xs-6">
            <label data-translate="passengercounter2App.stationRouteConnection.route" for="field_route">Route</label>
            <select class="form-control" id="field_route" name="route" ng-model="vm.route" ng-options="route as (route.routeCode+' '+route.name) for route in vm.routes track by route.id">
                <option value=""></option>
            </select>
        </div>
        
         <div class="col-xs-3">
            <label class="control-label" data-translate="passengercounter2App.scheduledVoyage.scheduledTime" for="field_scheduledTime">Scheduled Time</label>
                <div class="input-group">
                    <input id="field_scheduledTime" type="text" class="form-control" name="scheduledTime" datetime-picker="{{dateformat}}" ng-model="vm.scheduledTime" is-open="vm.datePickerOpenStatus.scheduledTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('scheduledTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        
        <div class="col-xs-2">
             <label>&nbsp;</label>
        
                <button class="btn btn-primary form-control" ng-click="vm.findByRoute()">
                    <span>
                        Ara
                    </span>
                </button>
            </div>
    </div>
    <br></br>
    
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="passengercounter2App.scheduledVoyage.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scheduledTime"><span data-translate="passengercounter2App.scheduledVoyage.scheduledTime">Scheduled Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="route.id"><span data-translate="passengercounter2App.scheduledVoyage.route">Route</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bus.id"><span data-translate="passengercounter2App.scheduledVoyage.bus">Bus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scheduledVoyage in vm.scheduledVoyages track by scheduledVoyage.id">
                    <td><a ui-sref="scheduled-voyage-detail({id:scheduledVoyage.id})">{{scheduledVoyage.id}}</a></td>
                    <td>{{scheduledVoyage.name}}</td>
                    <td>{{scheduledVoyage.scheduledTime | date:'dd.MM.y HH:mm' :'UTC +0'}}</td>
                    <td>
                        <a ui-sref="route-detail({id:scheduledVoyage.route.id})">{{scheduledVoyage.route.routeCode}}</a>
                    </td>
                    <td>
                        <a ui-sref="bus-detail({id:scheduledVoyage.bus.id})">{{scheduledVoyage.bus.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="scheduled-voyage-detail({id:scheduledVoyage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scheduled-voyage.edit({id:scheduledVoyage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scheduled-voyage.delete({id:scheduledVoyage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
