<!-- <script src="node_modules/chart.js/Chart.min.js"></script> -->
<!-- <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script> -->


<div class="col-xs-3">
            <label data-translate="passengercounter2App.stationRouteConnection.route" for="field_route">Route</label>
            <select class="form-control" id="field_route" name="route" ng-model="vm.route" ng-options="route as (route.routeCode+' '+route.name) for route in vm.routes track by route.id">
                <option value=""></option>
            </select>
        </div>
        
        <div class="col-xs-3">
            <label class="control-label" data-translate="passengercounter2App.scheduledVoyage.scheduledTime" for="field_scheduledTime">Scheduled Time</label>
                <div class="input-group">
                    <input id="field_scheduledTime" type="text" class="form-control" name="scheduledTime" datetime-picker="{{dateformat}}" ng-model="vm.scheduledTime" is-open="vm.datePickerOpenStatus.scheduledTime"  
                   ng-change="vm.getScheduledList()"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('scheduledTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        
         
        <div class="col-xs-2">
             <label data-translate="passengercounter2App.stationRouteConnection.route" for="field_route">Route</label>
              <select class="form-control" id="field_scheduledTimeValue" name="scheduledTimeValue" ng-model="vm.scheduledTimeValue" ng-options="scheduledVoyages as (scheduledVoyages.scheduledTime | date:'H:mm' :'UTC +3' ) for  scheduledVoyages in vm.scheduledVoyages track by scheduledVoyages.id">
                <option value=""></option>
            </select>
        </div>
        
        <div class="col-xs-2">
             <label>&nbsp;</label>
        
                <button class="btn btn-primary form-control" ng-click="vm.search()">
                    <span>
                        Ara
                    </span>
                </button>
         </div>
    

<canvas id="line" class="chart chart-line" chart-data="vm.data"
chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
chart-dataset-override="datasetOverride" chart-click="vm.onClick">
</canvas







<!-- 
<div>
    <h2 data-translate="passengercounter2App.bus.home.title2">Buses</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="plate"><span data-translate="passengercounter2App.bus.plate">Plate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="passengercounter2App.route.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="routeCode"><span data-translate="passengercounter2App.route.routeCode">Route Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="passengercounter2App.station.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scheduledTime"><span data-translate="passengercounter2App.scheduledVoyage.scheduledTime">Scheduled Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="id"><span data-translate="passengercounter2App.bus.currentPassengerCount">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="id"><span data-translate="passengercounter2App.bus.currentDensity">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bus in vm.buses track by bus.id">
                    <td>{{bus.plate}}</td>
                    <td>{{bus.routeName}}</td>
                    <td>{{bus.routeCode}}</td>
                    <td>{{bus.stationName}}</td>
                    <td>{{bus.scheduledVoyage | date:'dd.MM.y HH:mm' :'UTC +3' }}</td>
                    <td>{{bus.passengerCount}}</td>
                    <td>{{bus.density}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
   
</div>
 -->