<script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<div>
    <h2 data-translate="passengercounter2App.busDensityHistory.home.title">Bus Density Histories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <!--  
                <button class="btn btn-primary" ui-sref="bus-density-history.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="passengercounter2App.busDensityHistory.home.createLabel">
                        Create new Bus Density History
                    </span>
                </button>
                 -->
            </div>
        </div>
        
        <div class="row">
            <!-- 
            <div class="form-group">
	            <label data-translate="passengercounter2App.busDensityHistory.station" for="field_station">Station</label>
	            <select class="form-control" id="field_station" name="station" ng-model="vm.tempStation" ng-options="station as station.stationId for station in vm.stations track by station.id">
	                <option value=""></option>
	            </select>
       		</div>
             -->
            
            <div class="col-xs-4 no-padding-left">
                <!-- 
                <button class="btn btn-primary" ng-click="vm.analyze()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Analyze Data
                    </span>
                </button>
                 -->
                <!-- <button type="submit"
                                    ui-sref="bus-density-history.edit({id:1})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" >Haritada Göster</span>
                            </button> -->
    </div>
        </div>
    </div>
    
    
    <div class="row">
    	<div class="col-xs-3">
            <label data-translate="passengercounter2App.stationRouteConnection.route" for="field_route">Route</label>
            <select class="form-control" id="field_route" name="route" ng-model="vm.route" ng-options="route as (route.routeCode+' '+route.name) for route in vm.routes track by route.id">
                <option value=""></option>
            </select>
        </div>
        
        <div class="col-xs-3">
            <label class="control-label" data-translate="passengercounter2App.scheduledVoyage.scheduledTime" for="field_scheduledTime">Scheduled Time</label>
                <div class="input-group">
                    <input id="field_scheduledTime" type="text" class="form-control" name="scheduledTime" datetime-picker="{{dateformat}}" ng-model="vm.scheduledTime" is-open="vm.datePickerOpenStatus.scheduledTime"  
                    ng-change="vm.getScheduledList()"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('scheduledTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        
        <div class="col-xs-2">
             <label data-translate="passengercounter2App.stationRouteConnection.route" for="field_route">Route</label>
              <select class="form-control" id="field_scheduledTimeValue" name="scheduledTimeValue" ng-model="vm.scheduledTimeValue" ng-options="scheduledVoyages as (scheduledVoyages.scheduledTime | date:'H:mm' :'UTC +3' ) for  scheduledVoyages in vm.scheduledVoyages track by scheduledVoyages.id">
                <option value=""></option>
            </select>
        </div>
        
        <div class="col-xs-2">
             <label>&nbsp;</label>
        
                <button class="btn btn-primary form-control" ng-click="vm.search()">
                    <span>
                        Ara
                    </span>
                </button>
         </div>
         
         <div class="col-xs-2">
             <label>&nbsp;</label>
    
                 <button class="btn btn-primary form-control" ng-if="vm.idOfFirtRecord != '' " ui-sref="bus-density-history.edit({id:vm.idOfFirtRecord})"  >
                    <span>
                        Haritada Goster
                    </span>
                </button>
                 
                 
                <!-- 
                 <button class="btn btn-primary form-control" ng-click="vm.showMap()"  >
                    <span>
                        Haritada Goster
                    </span>
                </button>
                  -->
         </div>
    </div>
    
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="route.id"><span data-translate="passengercounter2App.route.routeCode">Route</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="route.id"><span data-translate="passengercounter2App.route.name">Route</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scheduledVoyage.id"><span data-translate="passengercounter2App.scheduledVoyage.scheduledTime">Scheduled Voyage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bus.id"><span data-translate="passengercounter2App.busDensityHistory.bus">Bus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="station.id"><span data-translate="passengercounter2App.busDensityHistory.station">Station</span> <span class="glyphicon glyphicon-sort"></span></th>
                    
                    
                    <th jh-sort-by="recordDate"><span data-translate="passengercounter2App.busDensityHistory.recordDate">Record Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-if="vm.debug" jh-sort-by="getInPassengerCount"><span data-translate="passengercounter2App.busDensityHistory.getInPassengerCount">Get In Passenger Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-if="vm.debug" jh-sort-by="getOutPassengerCount"><span data-translate="passengercounter2App.busDensityHistory.getOutPassengerCount">Get Out Passenger Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ><span data-translate="passengercounter2App.busDensityHistory.differance">Total Passenger Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalPassengerCount"><span data-translate="passengercounter2App.busDensityHistory.totalPassengerCount">Total Passenger Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    
                    <th jh-sort-by="density"><span data-translate="passengercounter2App.busDensityHistory.density">Density</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-if="vm.debug" jh-sort-by="firstRawRecord.id"><span data-translate="passengercounter2App.busDensityHistory.firstRawRecord">First Raw Record</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-if="vm.debug" jh-sort-by="lastRawRecord.id"><span data-translate="passengercounter2App.busDensityHistory.lastRawRecord">Last Raw Record</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="busDensityHistory in vm.busDensityHistories track by busDensityHistory.id">
                    <td><a ui-sref="bus-density-history-detail({id:busDensityHistory.id})">{{busDensityHistory.id}}</a></td>
                    <td>
                        {{busDensityHistory.route.routeCode}}
                    </td>
                    <td>
                        {{busDensityHistory.route.name}}
                    </td>
                    <td>
                        {{busDensityHistory.scheduledVoyage.scheduledTime  | date:'dd.MM.y HH:mm' :'UTC +3'}}
                    </td>
                    <td>
                    	{{busDensityHistory.bus.plate}}
                    </td>
                    <td>
                        {{busDensityHistory.station.name}}
                    </td>
                    
                    <td>
                    {{busDensityHistory.recordDate | date:'dd.MM.y HH:mm:ss' :'UTC +3'}}</td>
                    
                    <td ng-if="vm.debug">{{busDensityHistory.getInPassengerCount}}</td>
                    <td ng-if="vm.debug">{{busDensityHistory.getOutPassengerCount}}</td>
                    <td>{{busDensityHistory.getInPassengerCount-busDensityHistory.getOutPassengerCount}}</td>
                    
                    <td>{{busDensityHistory.totalPassengerCount}}</td>
                    <td>%{{busDensityHistory.density}}</td>
                    
                    <td ng-if="vm.debug">
                        <a ui-sref="raw-table-detail({id:busDensityHistory.firstRawRecord.id})">{{busDensityHistory.firstRawRecord.id}}</a>
                    </td>
                    <td ng-if="vm.debug">
                        <a ui-sref="raw-table-detail({id:busDensityHistory.lastRawRecord.id})">{{busDensityHistory.lastRawRecord.id}}</a>
                    </td>
                   <!-- 
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bus-density-history-detail({id:busDensityHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bus-density-history.edit({id:busDensityHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bus-density-history.delete({id:busDensityHistory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                      -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
