
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRouteLabel" data-translate="passengercounter2App.route.home.createOrEditLabel">Create or edit a Route</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.route.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.route.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="passengercounter2App.route.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.route.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="passengercounter2App.route.inversed" for="field_inversed">Inversed</label>
                <input type="checkbox" name="inversed" id="field_inversed"
                          ng-model="vm.route.inversed"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="passengercounter2App.route.routeId" for="field_routeId">Route Id</label>
            <input type="number" class="form-control" name="routeId" id="field_routeId"
                    ng-model="vm.route.routeId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="passengercounter2App.route.routeCode" for="field_routeCode">Route Code</label>
            <input type="text" class="form-control" name="routeCode" id="field_routeCode"
                    ng-model="vm.route.routeCode"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
